<script>
 window.UsersTable = {
  template: '#users-table',
  setup() {
    const utilityStore = useUtilityStore();
    const customerStore = useCustomerStore();
    const userStore = useUserStore();
    const snackbarStore = useSnackbarStore();

      const breadcrumbs = [
      { text: 'Home', to: '/' },
      { text: 'Customers', to: '/customers' },
      { text: 'Customer Requests' } // no "to" → current page
    ]

    return {userStore, utilityStore, customerStore, snackbarStore, breadcrumbs};
  },
  data() {
    return {
      formTitle: 'Edit User',
      appIsLoading: false,
      showNewItemBtn: false,
      prefs : {
        Locale: "en-US",
        Currency: "USD"
      },
      dialog: false,
      viewDialog: false,
      editedItem: {},     
      schema: [
        {
          key: 'id',
          label: 'User Id',
          type: 'text',
          rules: [(v) => !!v || "This is required!"],
          disabled: true,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
        {
          key: 'email',
          label: 'User Email',
          type: 'email',
          rules: [(v) => !!v || "This is required!"],
          disabled: false,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
               {
          key: 'firstName',
          label: 'First Name',
          type: 'text',
          rules: [(v) => !!v || "This is required!"],
          disabled: false,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
               {
          key: 'lastName',
          label: 'Last Name',
          type: 'text',
          rules: [(v) => !!v || "This is required!"],
          disabled: false,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
        {
          key: 'gender',
          label: 'Gender',
          type: 'select',
          options: ['male', 'female'],
          rules: [(v) => !!v || "This is required!"],
          disabled: false,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
         {
          key: 'status',
          label: 'Status',
          type: 'select',
          options: ['active', 'inactive'],
          rules: [(v) => !!v || "This is required!"],
          disabled: false,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
        {
          key: 'emailVerified',
          label: 'Email Verified',
          type: 'select',
          options: ['true', 'false'],
          rules: [(v) => !!v || "This is required!"],
          disabled: false,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
        {
          key: 'emailVerifiedAt',
          label: 'Email Verified At',
          type: 'text',
          rules: [],
          disabled: true,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
        {
          key: 'createdAt',
          label: 'Created At',
          type: 'text',
          rules: [(v) => !!v || "This is required!"],
          disabled: true,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
        {
          key: 'updatedAt',
          label: 'Updated At',
          type: 'text',
          rules: [(v) => !!v || "This is required!"],
          disabled: true,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        }
      ],
      search: "",
    }
  },
  beforeMount() {
    this.userStore.fetchUsersIfEmpty()
  },
  computed: {   
    tableData() {
      return this.userStore.getAllUsers.data.map(userD => ({
        id: userD.id,
        email: userD.email,
        firstName: userD.firstName,
        lastName: userD.lastName,
        gender: userD.gender,
        status: userD.status,
        emailVerified: userD.emailVerified,
        emailVerifiedAt: userD.emailVerifiedAt,
        createdAt: userD.createdAt,
        updatedAt: userD.updatedAt,
      }));
    },
    headers() {
      const includedHeaders = [
      'id',
      'email',
      'firstName',
      'lastName',
      'gender',
      'status',
      'emailVerified',
      'emailVerifiedAt',
      'createdAt',
      'updatedAt',
      'actions'
      ]
      return this.userStore.getAllUsers.headers.filter(userH => includedHeaders.includes(userH.key));
    }
    
  },
  methods: {

    searchRequestById(id) {
      return this.userStore.getAllUsers.data.find(user => user.id === id) || null
    },

    editItem(item) {
      logger.log('Table Request selected', item)
    
      this.editedItem = this.searchRequestById(item.id)
      console.log('Full Request details: ', this.editedItem)

      this.dialog = true;
    },

    handleAddNewBtn() {
    
    },

    viewItem(item){
   
      logger.log('Table Request selected', item)

      this.editedItem = this.searchRequestById(item.id) 
      logger.log(' Full Request details: ', this.editedItem)

      this.viewDialog = true;
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = {};
      });
    },

    async save() {

      // Get the form instance
      const form = this.$refs.form

      if (form) {
        const { valid } = await form.validate()

        if (!valid) {
          logger.log("Form validation failed")
          return
        }

        // proceed with saving since validation passed
        logger.log("Form is valid:", this.editedItem)

        const body = {
          customerRequestId: this.editedItem.id,
          customerRequestData: this.editedItem
        }

        const request = {body}

        logger.log('Update Customer Request Body: ', body)

        apiCall('CONTROLLER_UPDATE_CUSTOMER_REQUESTS', request)
          .then(async response=>{

            logger.log('Response from customer request update ', response)

            logger.log('refreshing customer requests..... ')
            
            this.close()

            await this.customerStore.fetchFreshCustomerRequests()

            //show welcome popup
            this.snackbarStore.showSnackbar(`Record Updated successfully.`, "teal");

          })
          .catch(error=>{

            this.snackbarStore.showSnackbar(error?.message, "red");
            logger.error('Error Response from customer request update ', error)

          })

        
      }
    },

  }
};
</script>