<script>
 window.CustomersTable = {
  template: '#customers-table',
  setup() {
    const utilityStore = useUtilityStore();
    const customerStore = useCustomerStore();
      const breadcrumbs = [
      { text: 'Home', to: '/' },
      { text: 'Customers', to: '/customers' },
      { text: 'Customer Requests' } // no "to" → current page
    ]

    return { utilityStore, customerStore, breadcrumbs};
  },
  data() {
    return {
      formTitle: 'Edit Customer',
      appIsLoading: false,
      showNewItemBtn: false,
      prefs : {
        Locale: "en-US",
        Currency: "USD"
      },
      dialog: false,
      viewDialog: false,
      editedItem : {},
      schema: [
        {
          key: 'id',
          label: 'User Id',
          type: 'text',
          rules: [(v) => !!v || "This is required!"],
          disabled: true,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
        {
          key: 'email',
          label: 'User Email',
          type: 'email',
          rules: [(v) => !!v || "This is required!"],
          disabled: false,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
               {
          key: 'firstName',
          label: 'First Name',
          type: 'text',
          rules: [(v) => !!v || "This is required!"],
          disabled: false,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
               {
          key: 'lastName',
          label: 'Last Name',
          type: 'text',
          rules: [(v) => !!v || "This is required!"],
          disabled: false,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
        {
          key: 'gender',
          label: 'Gender',
          type: 'select',
          options: ['male', 'female'],
          rules: [(v) => !!v || "This is required!"],
          disabled: false,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
         {
          key: 'status',
          label: 'Status',
          type: 'select',
          options: ['active', 'inactive'],
          rules: [(v) => !!v || "This is required!"],
          disabled: false,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
        {
          key: 'emailVerified',
          label: 'Email Verified',
          type: 'select',
          options: ['true', 'false'],
          rules: [(v) => !!v || "This is required!"],
          disabled: false,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
        {
          key: 'emailVerifiedAt',
          label: 'Email Verified At',
          type: 'text',
          rules: [],
          disabled: true,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
        {
          key: 'createdAt',
          label: 'Created At',
          type: 'text',
          rules: [(v) => !!v || "This is required!"],
          disabled: true,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        },
        {
          key: 'updatedAt',
          label: 'Updated At',
          type: 'text',
          rules: [(v) => !!v || "This is required!"],
          disabled: true,
          formHidden: false,
          col_size:{
            cols: 12,
            md: 4,
            sm: 6
          }
        }
      ],
      search: "",
    }
  },
  beforeMount() {
    this.customerStore.fetchCustomersIfEmpty()
  },
  computed: {   
    tableData() {
      return this.customerStore.getCustomers.data.map(custD => ({
        id: custD.id,
        email: custD.email,
        firstName: custD.firstName,
        lastName: custD.lastName,
        gender: custD.gender,
        status: custD.status,
        emailVerified: custD.emailVerified,
        emailVerifiedAt: custD.emailVerifiedAt,
        createdAt: custD.createdAt,
        updatedAt: custD.updatedAt,
      }));
    },
    headers() {
      const includedHeaders = [
      'id',
      'email',
      'firstName',
      'lastName',
      'gender',
      'status',
      'emailVerified',
      'emailVerifiedAt',
      'createdAt',
      'updatedAt',
      'actions'
      ]
      return this.customerStore.getCustomers.headers.filter(custH => includedHeaders.includes(custH.key));
    }
    
  },
  methods: {
    searchCustomerById(id) {
      return this.customerStore.getCustomers.data.find(user => user.id === id) || null
    },

    editItem(item) {
      logger.log('Table Customer selected', item)
    
      this.editedItem = this.searchCustomerById(item.id)
      console.log('Full customer details: ', this.editedItem)

      this.dialog = true;
    },

    handleAddNewBtn() {
    
    },

    viewItem(item){
   
      logger.log('Table Customer selected', item)

      this.editedItem = this.searchCustomerById(item.id) 
      logger.log(' Full customer details: ', this.editedItem)

      this.viewDialog = true;
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = {};
      });
    },

  }
};
</script>