<template id="customers-table">
  <v-data-table
    :headers="headers"
    :items="tableData"
    :search="search"
    fixed-header
    style="font-size: 14px; height: 60vh"
    :loading="appIsLoading"
    loading-text="Loading... Please wait"
    items-per-page="20"
  >

     <?!= include('components/DataTable/slot_top'); ?>
      <?!= include('components/DataTable/slot_actions'); ?>
      <?!= include('components/DataTable/slot_timestamps'); ?>
      <?!= include('components/DataTable/slot_status'); ?>
      <?!= include('components/DataTable/slot_gender'); ?>

  </v-data-table>
</template>
